//Variables
//Colors

$color-grey-dark: #777;
$color-grey-light: #f7f7f7;
$color-white: #fff;
$color-black: #000;
$color-orange: #ffb901;
$color-orange-dark: #ff7730;
$color-blue: #2998ff;
$color-blue-dark: #5643fa;


// Grid
// gutter means space
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;